@{
    ViewData["Title"] = "Contato";
}

<section class="contatos-section" id="contatos">
    <div class="contatos-container">
        <div class="contatos-heading">
            <h1>Contatos</h1>
            
            <p>
                Caso tenha duvidas sobre a nossa pastoral<br/>
                pode entra em contato.Tiraremos a suas duvidas.
            </p>
            
            <div class="contatos-divider">
                <span></span>
                <i class="contatos-symbol">✝</i>
                <span></span>
            </div> 
        </div>
    </div>
</section>