@{
    ViewData["Title"] = "Maria em Meu Lar";
}
<header class="hero" id="inicio">
    <nav class="navbar">
        <div class="logo-area">
            <img src="~/img/logo_paroquia.png" alt="Logo Paróquia Sagrado Coração de Jesus" class="logo-img"/>

            <div class="logo-text">
                <strong>Sagrado Coração</strong>
                <span>de Jesus</span>
            </div>
        </div>

        <ul class="menu">
            <li>
                <a href="#inicio" class="menu-link">
                    <i class="fa-solid fa-house"></i>
                    <span>Início</span>
                </a>
            </li>

            <li>
                <a href="#programacao" class="menu-link">
                    <i class="fa-solid fa-calendar-days"></i>
                    <span>Programação</span>
                </a>
            </li>

            <li>
                <a href="#galeria" class="menu-link">
                    <i class="fa-solid fa-camera"></i>
                    <span>Galeria</span>
                </a>
            </li>

            <li>
                <a href="#inscricao" class="menu-link">
                    <i class="fa-solid fa-download"></i>
                    <span>Inscrição</span>
                </a>
            </li>

            <li>
                <a href="#contato" class="menu-link">
                    <i class="fa-solid fa-phone"></i>
                    <span>Contato</span>
                </a>
            </li>
        </ul>

        <a href="#local" class="btn_route">
            <i class="fa-solid fa-location-dot"></i>
            <span>Como chegar</span>
        </a>
    </nav>
    
    <section class="hero-content">
        <div class="hero-text">
            <h1>
                <span>Maria em</span>
                <span>Meu Lar</span>
            </h1>

            <blockquote class="hero-quote">
                <p>“Você nunca amará Maria mais do que Jesus a amou.”</p>
                <cite>— São Maximiliano Kolbe</cite>
            </blockquote>
            
        </div>
        
        <div class="hero-image">
            <img src="~/img/maria-ilustracao.png" alt="Maria segurando uma criança" class="maria-img"/>
        </div>
       
    </section>
</header>