@{
    //Define o titulo da pagina que será utilizado no layout (_layout .cshtml)
    ViewData["Title"] = "";
}

<header class="hero" id="inicio">
    
    <section class="hero-content">
        <div class="hero-text">
            <h1>
                <span>Maria em</span>
                <span>Meu Lar</span>
            </h1>
            
            <div class="welcome-divider">
                <span></span>
                <i class="fa-solid fa-diamond"></i>
                <span></span>
            </div>
            
            
            <blockquote class="hero-quote">
                <p>“Nunca tenha medo de amar demais a Virgem Maria.”</p>
                <cite>— São Maximiliano Kolbe</cite>
            </blockquote>
            
            <a href="https://www.google.com/maps/place/Par%C3%B3quia+do+Sagrado+Cora%C3%A7%C3%A3o+de+Jesus/-7.2419159,-35.9134137,17402m/data=!3m1!1e3!4m15!1m8!3m7!1s0x7ac1e7b08d47d81:0xf2f47e42032f7bdc!2sPar%C3%B3quia+do+Sagrado+Cora%C3%A7%C3%A3o+de+Jesus!8m2!3d-7.2443361!4d-35.8805034!10e1!16s%2Fg%2F1ptxmyk09!3m5!1s0x7ac1e7b08d47d81:0xf2f47e42032f7bdc!8m2!3d-7.2443361!4d-35.8805034!16s%2Fg%2F1ptxmyk09?entry=ttu&g_ep=EgoyMDI2MDcwOC4wIKXMDSoASAFQAw%3D%3D" target="_blank" class="hero-mobile-route">
                <i class="fa-solid fa-location-dot"></i>
                <span>Como chegar</span>
            </a>
        </div>
        
        <div class="hero-image">
            <img src="~/img/maria-ilustracao.png" alt="Maria segurando uma criança" class="maria-img"/>
        </div>

    </section>
</header>

<section class="welcome-section welcome-animate" id="sobre">
    <div class="welcome-container">

        <div class="welcome-heading">
            <h2>Bem-vindo ao<br/>Maria em Meu Lar</h2>

            <div class="welcome-divider">
                <span></span>
                <i class="fa-solid fa-diamond"></i>
                <span></span>
            </div>

            <p>
                Um caminho de fé que transforma casas em verdadeiros lares.<br/>
                Convidamos sua família a viver a presença de Maria todos os dias.
            </p>
        </div>
       
        <div class="welcome-content-grid">
            
            <div class="welcome-photo-area">
                <div class="welcome-photo-card">
                    <img src="~/img/imagem de maria e o povo no fundo.png" alt="Família reunida em oração com Maria"/>
                </div>
            </div>

            <div class="welcome-info-area">
                
                <div class="welcome-feature-row">
                    
                    <div class="welcome-feature">
                        <i class="fa-solid fa-hands-praying"></i>

                        <div>
                            <h3>Levar Maria ao<br/>coração do lar</h3>
                            <p>
                                Promovemos encontros e momentos de oração que fortalecem a fé
                                e aproximam as famílias de Jesus por meio de Maria.
                            </p>
                        </div>
                    </div>
                    
                    
                    <div class="welcome-feature">
                        <i class="fa-solid fa-people-roof"></i>

                        <div>
                            <h3>Construir lares<br/>que oram juntos</h3>
                            <p>
                                Acreditamos que a oração em família gera paz, esperança e unidade,
                                renovando o amor de Deus em cada dia.
                            </p>
                        </div>
                    </div>
                </div>
               
                <div class="welcome-card-row">
                    <div class="welcome-card">
                        <i class="fa-solid fa-heart-circle-plus"></i>

                        <div>
                            <h3>Presença Mariana</h3>
                            <p>
                                Maria caminha conosco, intercede, protege e conduz cada família
                                à luz do seu Filho.
                            </p>
                        </div>
                    </div>

                    <div class="welcome-card">
                        <i class="fa-solid fa-people-group"></i>

                        <div>
                            <h3>União da Família</h3>
                            <p>
                                Quando a família reza unida, o lar se torna um santuário de fé,
                                amor e perdão.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="welcome-m-symbol">M</div>

    </div>
</section>

<section class="noticias-section noticias-animation" id="noticias" >
    <div class="noticias-container">
        <div class="noticias-heading">
            <span class="section-label">Novidades</span>
            <h3>Ultimas Noticas</h3>

            <div class="welcome-divider">
                <span></span>
                <i class="fa-solid fa-diamond"></i>
                <span></span>
            </div>

            <p>
                Fique por dentro das novidades da nossa paroquia<br/>
                e acompanhe o que Deus está realizando nas familias atraves do Maria em meu lar.
            </p>
        </div>
        
        <div class="noticia-card-row">
            <article class="noticia-card">
                <div class="noticia-imagem">
                    <img src="~/img/Coroação de nossa senhora.png" alt="image da noticia"/>
                </div>
                <div class="noticia-content">
                    <div class="noticia-meta">
                        <span>
                            <i class="fa-solid fa-calendar-days"></i>
                            24 de Maio, 2025
                        </span>
                        
                        <span>
                            <i class="fa-regular fa-clock"></i>
                            3min de leitura
                        </span>
                    </div>
                    
                    <h3>Maria em Meu Lar: um encontro que transforma famílias</h3>
                    
                    <p>
                        Maio foi um mês de encontros, oração e presença de Maria nos lares de tantas famílias. E agora, com o coração cheio de gratidão, nos reuniremos para coroar aquela que nos conduziu em cada visita, em cada partilha e em cada momento vivido no projeto Maria em Meu Lar 2026, da Pastoral da Juventude do Sagrado Coração de Jesus...
                    </p>
                    
                    <a href="https://www.instagram.com/p/DY2sEMwx3IR/" target="_blank" class="noticia-link">
                        Ler mais
                        <i class="fa-solid fa-arrow-right"></i>
                    </a>
                </div>
            </article>
            
            <article class="noticia-card">
                <div class="noticia-imagem">
                    <img src="~/img/retiro quaresmal.png"/>
                </div>
                
                <div class="noticia-content">
                    <div class="noticia-meta">
                        <span>
                            <i class="fa-solid fa-calendar-days"></i>
                            24 de Maio, 2025
                        </span>
                        
                        <span>
                            <i class="fa-regular fa-clock"></i>
                            3min de leitura
                        </span>
                    </div>
                    
                    <h3>Maria em Meu Lar: um encontro que transforma famílias</h3>
                    
                    <p>
                        No último sábado, a Pastoral da Juventude viveu o Retiro Quaresmal, um tempo de silêncio, oração e encontro com Deus. A proposta diferente deste ano certamente foi providencial.
                        Por meio da emocionante encenação do Caminho de Jesus até o Calvário, realizada pelo grupo cristojovemscj fomos convidados a contemplar...
                    </p>
                    
                    <a href="https://www.instagram.com/p/DV9iqWYjvVr/?img_index=1" target="_blank" class="noticia-link">
                        Ler mais
                        <i class="fa-solid fa-arrow-right"></i>
                    </a>
                </div>
            </article>
            
            <article class="noticia-card">
                <div class="noticia-imagem">
                    <img src="~/img/missa da juventude.png"/>
                </div>
                
                <div class="noticia-content">
                    <div class="noticia-meta">
                        <span>
                            <i class="fa-solid fa-calendar-days"></i>
                            24 de Maio, 2025
                        </span>
                        
                        <span>
                            <i class="fa-regular fa-clock"></i>
                            3min de leitura
                        </span>
                    </div>
                    
                    <h3>Maria em Meu Lar: um encontro que transforma famílias</h3>
                    
                    <p>
                        A Missa da Juventude deste mês já tem data, horário e local! 🩵
                        E será uma celebração duplamente especial: você, servo do projeto Maria em Meu Lar, participe conosco! Seremos enviados, diante de Cristo, para esta missão!
                        Vista a camisa do seu movimento, chame seus amigos e sua família e junte-se ao Sagrado Coração de Jesus neste dia especial!
                    </p>
                    
                    <a href="https://www.instagram.com/p/DXU375KkcqX/" target="_blank" class="noticia-link">
                        Ler mais
                        <i class="fa-solid fa-arrow-right"></i>
                    </a>
                </div>
            </article>
        </div>
        <a href="#" class="noticia-button">
            Todas as Noticias
            <i class="fa-solid fa-arrow-right"></i>
        </a>
    </div>
</section>

<section class="juventude-section juventude-animation" id="juventude">
    <div class="juventude-container">
        <div class="juventude-heading">
            <div class="welcome-divider">
                <span></span>
                <i class="fa-solid fa-diamond"></i>
                <span></span>
            </div>
            <h2 class="juventude-label">Missões da juventude</h2>
            <div class="welcome-divider">
                <span></span>
                <div class="juventude-symbol">✝</div>
                <span></span>
            </div>
            <p>
                Conheça as missões que nascem do coração jovem<br/>
                da nossa paróquia e transformam vidas.
            </p>
        </div>
        
        <div class="juventude-card-row">
            <article class="juventude-card">
                <div class="juventude-imagem">
                    <img src="~/img/fundo/fundo_maria_meu_lar.png" alt="Maria em meu lar"/>
                </div>
            
                <div class="juventude-content">
                    <img src="~/img/missoes/maria-meu-lar.png" alt="maria em meu lar" class="juventude-photo"/>
                    <div>
                        <h3>Maria em<br/>Meu Lar</h3>

                        <div class="welcome-divider">
                            <span></span>
                            <i class="fa-solid fa-diamond"></i>
                            <span></span>
                        </div>

                        <p>
                            Uma missão de fé que leva <br/>a presença de Maria ás<br/>
                            familias ,fortalecendo lares<br/>na oração e no amor.
                        </p>

                        <a href="#"  class="juventude-link">
                            Conhecer missão
                            <i class="fa-solid fa-arrow-right"></i>
                        </a>
                    </div>
                </div>
            </article>
        
            <article class="juventude-card">
                <div class="juventude-imagem">
                    <img src="~/img/fundo/fundo_semana_juventude.png" alt="semana da juventude"/>
                </div>
            
                <div class="juventude-content">
                
                    <img src="~/img/missoes/semana-juventude.png" alt="semana da juventude" class="juventude-photo"/>
                    <div>
                        <h3>Semana da<br/>Juventude</h3>

                        <div class="welcome-divider">
                            <span></span>
                            <i class="fa-solid fa-diamond"></i>
                            <span></span>
                        </div>

                        <p>
                            Encontros,formação<br/>louvor e partilha que<br/>
                            renovam o entusiasmo<br/>de ser jovem cristão.
                        </p>

                        <a href="#" class="juventude-link">
                            Conhecer missão
                            <i class="fa-solid fa-arrow-right"></i>
                        </a>
                    </div>
                </div>
            </article>
        
            <article class="juventude-card">
                <div class="juventude-imagem">
                    <img src="~/img/fundo/fundo_retiro_quaresmal.png" alt="retiro quaresmal"/>
                </div>
            
                <div class="juventude-content">
                    <img src="~/img/missoes/retiro-quaresmal.png" alt="retiro quaresmal" class="juventude-photo"/>
                    <div>
                        <h3>Retiro<br/>Quaresmal</h3>

                        <div class="welcome-divider">
                            <span></span>
                            <i class="fa-solid fa-diamond"></i>
                            <span></span>
                        </div>

                        <p>
                            Tempo de siléncio,oração<br/>e conversão para um<br/>
                            encontro profundo com<br/>Deus.
                        </p>

                        <a href="#"  class="juventude-link">
                            Conhecer missão
                            <i class="fa-solid fa-arrow-right"></i>
                        </a>
                    </div>
                </div>
            </article>
        
            <article class="juventude-card">
                <div class="juventude-imagem">
                    <img src="~/img/fundo/fundo_terço_juventude.png" alt="terço da juventude"/>
                </div>
            
                <div class="juventude-content">
                    <img src="~/img/missoes/terço-juventude.png" alt="terço da juventude" class="juventude-photo"/>
                    <div>
                        <h3>Terço da<br/>Juventude</h3>

                        <div class="welcome-divider">
                            <span></span>
                            <i class="fa-solid fa-diamond"></i>
                            <span></span>
                        </div>

                        <p>
                            Oração do terço feita<br/>por jovens,com jovens<br/>
                            e para jovens.
                        </p>

                        <a href="#"  class="juventude-link">
                            Conhecer missão
                            <i class="fa-solid fa-arrow-right"></i>
                        </a>
                    </div>
                </div>
            </article>
        
            <article class="juventude-card">
                <div class="juventude-imagem">
                    <img src="~/img/fundo/fundo_segue-me_jovem.png" alt="segue me jovem"/>
                </div>
            
                <div class="juventude-content">
                    <img src="~/img/missoes/segue-me-jovem.png" alt="segue me jovem" class="juventude-photo"/>
                    <div>
                        <h3>Segue-me<br/>Jovem</h3>

                        <div class="welcome-divider">
                            <span></span>
                            <i class="fa-solid fa-diamond"></i>
                            <span></span>
                        </div>

                        <p>
                            Caminho de amizade,fé<br/>e missão para seguir<br/>
                            Jesus com alegria.
                        </p>

                        <a href="#"  class="juventude-link">
                            Conhecer missão
                            <i class="fa-solid fa-arrow-right"></i>
                        </a>
                    </div>
                </div>
            </article>
        
        </div>
    </div>
</section>

