@{
   ViewData["Title"] = "Inscrição";
}

<section class="inscricao-section" id="inscricao">
   <div class="inscricao-container">
      <div class="inscricao-heading">
         
      </div>
   </div>
</section>