@{
    ViewData["Title"] = "Programação";
}

<section class="programacao-section">
    <h1>Programação</h1>
    <p>Essa será a pagina de programação de todas as missões da Pastoral da Juventude</p>
</section>