# Build
bin/
obj/
**/bin/
**/obj/

# Rider
.idea/
**/.idea/

# Visual Studio
.vs/
**/.vs/

# Publish
publish/
publicar/
**/publish/
**/publicar/

# Env
.env
.env.*
!.env.example

# Arquivos txt
*.txt

# OS
.DS_Store
Thumbs.db