<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - Maria em Meu Lar</title>

    <link rel="stylesheet" href="~/css/reset.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/css/variables.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/css/layout.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/css/header.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/css/home.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/css/footer.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/css/responsive.css" asp-append-version="true"/>
</head>
<body>

@RenderBody()

<script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)

</body>
</html>