EmailSettings__SmtpServer=smtp.gmail.com
EmailSettings__Port=587
EmailSettings__SenderName=Pastoral da Juventude
EmailSettings__SenderEmail=Seu-email@gmil.com
EmailSettings__SenderPassword=Coloque-a-senha-de-app-aqui
EmailSettings__ReceiverEmail=Seu-email@gmail.com